@page
@model StudyBuddy.Web.RazorPages.Pages.TeacherPage.IndexModel

@{
    ViewData["Title"] = "IndexTeacherPage";
}


<h1 style="text-align:center">Hello @Html.DisplayFor(model => model.TeacherName)!</h1>