@page

@model StudyBuddy.Web.RazorPages.Pages.TeacherPage.ShareModel
@{
    ViewData["Title"] = "Share";
    Layout = "~/Pages/Shared/_LayoutWithoutNavigation.cshtml";
}
        <form method="post">
            <hr />
            <br />
            <a asp-page="./TeacherChat">Go back</a>
            <br />
            <hr />

            <div class="form-group">
                <h3> Choose subject </h3>
                <select class="form-control" selected asp-for="SubjectTitle" asp-items="Model.SubjectsTitles">
                </select>
            </div>
            <div class="form-group">
                <br />
                <h3>Enter the question</h3>
                <textarea maxlength="500" rows="3" class="form-control" asp-for="Question" style="border:dashed 6px #FF7851"></textarea>
                <span style="color:red" asp-validation-for="@Model.Question"></span>
            </div>
            <div class="form-group">
                <br />
                <h3>Enter the answer</h3>
                <textarea maxlength="500" rows="3" class="form-control" asp-for="Answer" style="border:dashed 6px #78C2AD;"> </textarea>
                <span style="color:red" asp-validation-for="@Model.Answer"></span>
            </div>
            <div class="form-group" asp-route-teacherID="@Model.TeacherID">
                <input type="submit" value="Share" class="btn btn-success" />
            </div>
        </form>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>



