@page
@model StudyBuddy.Web.RazorPages.Pages.TeacherPage.TeacherProfileShowPasswordModel
@{
    ViewData["Title"] = "TeacherProfileShowPassword";
}

<h1>Show Password</h1><br />


<form method="post" >


    <input type="text" asp-for="@Model.Password" />
    <input type="submit" value="rodyti" /><br />

    <h2> @Model.Msg </h2>  
</form>