@page
@model StudyBuddy.Web.RazorPages.Pages.TeacherPage.TeacherProfileChangePasswordModel
@{
    ViewData["Title"] = "TeacherProfileChangePassword";
}



<h1>Change Password</h1><br />

<form method="post">

    <label for="newPassword">New Password:</label>

    <input type="text" asp-for="@Model.NewPassword" />

    <label for="token">Old Password </label>
    <input type="text" asp-for="@Model.OldPassword" />


    <input type="submit" value="Change" /><br />

    <h1>@Model.Msg</h1>


</form>