@page
@model StudyBuddy.Web.RazorPages.Pages.TeacherPage.TeacherProfileChangeNameModel
@{
    ViewData["Title"] = "TeacherProfileChangeName";
}


<h1>Change Name</h1>
<br />

<form method="post">

    <label for="newPassword">New Name:</label>

    <input type="text" asp-for="@Model.Names" />

    <label for="token"> Password </label>
    <input type="text" asp-for="@Model.Passwordas" />


    <input type="submit" value="Change" /><br />

    <h1>@Model.Mesg</h1>


</form>