@page
@model StudyBuddy.Web.RazorPages.Pages.AdminPage.AddModel

@{
    ViewData["Title"] = "Add";
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
}

<h1>Enter new subject title</h1>

<form method="post">
    <input type="text" asp-for="Title" />
    <input type="submit" value="Add" />
    <span style="color:red"> @Html.ValidationMessageFor(model => model.ErrorAdd) </span>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
