@page
@model StudyBuddy.Web.RazorPages.Pages.AdminPage.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
}

<h1 style="text-align:center">Hello @Html.DisplayFor(model => model.AdminName)!</h1>
