@page "{teacherName}/{subjectTitle}/{studentID:int}"
@model StudyBuddy.Web.RazorPages.Pages.StudentPage.AskModel
@{
    ViewData["Title"] = "Ask";
    Layout = "_LayoutWithoutNavigation";
}

<h1>Ask question!</h1>

<form method="post">
    <textarea asp-for="Message" maxlength="500"></textarea>
    <input type="submit" value="Send" />
    <span style="color:red"> @Html.ValidationMessageFor(model => model.MessageError) </span>
</form>