@page "{teacherName}/{subjectTitle}/{studentID:int}"
@model StudyBuddy.Web.RazorPages.Pages.StudentPage.AskModel
@{
    ViewData["Title"] = "Ask";
    Layout = "_LayoutWithoutNavigation";
}


<form method="post">
    <fieldset>
        <legend>Ask a question!</legend>
        <div class="form-group">
    <label for="exampleTextarea">Your question...</label>
    <textarea class="form-control" id="exampleTextarea" rows="3" asp-for="Message" maxlength="500"></textarea>
        </div>
        <input type="submit" value="Send" class="btn btn-success" />
        <span style="color:red "badge badge-primary badge-pill""> @Html.ValidationMessageFor(model => model.MessageError) </span>
    </fieldset>
</form>