@page
@model StudyBuddy.Web.RazorPages.Pages.StudentPage.IndexModel

@{
    ViewData["Title"] = "IndexStudentPage";
}

<h1 style="text-align:center">Hello @Html.DisplayFor(model => model.StudentName)!</h1>
