@page "{questionID:int}"
@model StudyBuddy.Web.RazorPages.Pages.StudentPage.StudentRateModel

@{
    ViewData["Title"] = "StudentRate";
    Layout = "_LayoutWithoutNavigation";
}

        <h1>Thank you for choosing to leave a feedback!</h1>

        <form method="post">
            <select  class="form-control" asp-for="Value" asp-items="Model.Options"></select>
            <input type="submit" class="btn btn-success" value="Submit!" />
        </form>

