@page
@model StudyBuddy.Web.RazorPages.Pages.StudentPage.StudentProfileChangePasswordModel
@{
    ViewData["Title"] = "StudentProfileChangePassword";
}

<h1>Change Password</h1>
<br />

<form method="post">

    <label for="newPassword">New Password:</label>

    <input type="password" asp-for="@Model.NewPasswords" />

    <label for="token">Old Password </label>
    <input type="password" asp-for="@Model.OldPasswords" />


    <input type="submit" value="Change" /><br />

    <h1>@Model.Msgs</h1>


</form>