@page
@model StudyBuddy.Web.RazorPages.Pages.AccessDeniedModel
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Pages/Shared/_LayoutWithoutNavigation.cshtml";
}

<h1>Access denied</h1>
<h2>What happened?</h2>
<p>The administrator of this website has banned you.</p>
<p>Please contact us: <a href="mailto:studybuddy@gmail.com"> studybuddy@gmail.com </a> </p>



