@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <form>
                <input type="radio" name="Profession"  value="Student" checked > Student<br>
                <input type="radio" name="Profession" value="Teacher"> Teacher<br>
                Nick: <input type="text" name="Nick" value="Nick" align="right"><br>
                Password: <input type="text" name="Password" value="Password" align="left"><br>
                <input type="submit" value="Log in">
        </form>

        <form>
            <input type="button" value="No account?">
        </form>
    </div>
